{% schema %}
{
  "name": "Menu",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Select Menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color Scheme",
      "options": [
        {
          "value": "scheme-1",
          "label": "Scheme 1"
        },
        {
          "value": "scheme-2",
          "label": "Scheme 2"
        }
      ],
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    }
  ]
}
{% endschema %}

<style>
    .my-sidebar-customs {
        width: 200px;
        position: absolute;
        top: 0;
        left: -200px;

    }
    .my-sidebar-customs .tmenu_item_icon{
        background: url("https://cdn.shopify.com/s/files/1/0658/0741/7507/files/ico_smt.png") no-repeat left center;
    }
    .my-sidebar-customs .tmenu_item_icon svg{
     width: 1.5em;
    }
</style>
<div class="page-width" style="position: relative;">
    <div class="my-sidebar-customs">
        <div id="side-bar"></div>
    </div>
</div>

